<div class="card bg-secondary shadow" style="margin-top: -40px;">
  <div class="card-header bg-white border-0">
    <div class="row align-items-center">
      <div class="col-8">
        <h3 class="mb-0">My account</h3>
      </div>
     
    </div>
  </div>
  <div class="card-body">
    <div class="card-body media align-items-center">
      <h3>please check your email to find your latest notifications!</h3>
    </div>
    <hr class="border-light m-0">
  
    <div class="card-body pb-2">
      <h5 class="mb-4">Settings</h5>
  
      <div class="form-group">
        <label class="switcher">
          <input type="checkbox" class="switcher-input">
          <span class="switcher-indicator">
            <span class="switcher-yes"></span>
            <span class="switcher-no"></span>
          </span>
          <span class="switcher-label">Only my favourite Brand updates</span>
        </label>
      </div>
      <div class="form-group">
        <label class="switcher">
          <input type="checkbox" class="switcher-input" checked>
          <span class="switcher-indicator">
            <span class="switcher-yes"></span>
            <span class="switcher-no"></span>
          </span>
          <span class="switcher-label">Weekly product updates</span>
        </label>
      </div>
      
      
    </div>
  </div>
</div>