
<div class="center-content">
    <mat-card class="example-card">

        <mat-card-header>
            <mat-card-title>Reset</mat-card-title>
            </mat-card-header>
 <form (ngSubmit)="newPassword(form)" #form="ngForm">
  <mat-tab label="Login">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="Email" ngModel name="email" email  #email="ngModel">
       <mat-error *ngIf="email.errors && email.errors.required">
      Email is required  </mat-error>
      <mat-icon matSuffix>email</mat-icon>
      
    </mat-form-field><br>

 <button mat-button  >Reset-Password</button>
  </mat-tab>
 </form>
    </mat-card>
</div>
