
<div class="center-content">
    <mat-card class="example-card">

        <mat-card-header>
            <mat-card-title>Reset</mat-card-title>
            </mat-card-header>
 <form (ngSubmit)="newPassword(form)" #form="ngForm">
  <mat-tab label="Login">
    <input
                  matInput
                  placeholder="password"
                  type="password"
                  required
                  minlength="6"
                  name="password"
                  ngModel
                  #cin="ngModel"><br>
                  <mat-error
                    *ngIf="cin.errors && cin.errors.required">
                    password is required
                  </mat-error>
                  <mat-error
                    *ngIf="cin.errors && cin.errors.minlength">
                    Password must be of length 6
                  </mat-error>
                <mat-icon matSuffix>lock</mat-icon><br>

 <button mat-button  >Submit</button>
  </mat-tab>
 </form>
    </mat-card>
</div>
