mat-drawer
{
    width: 250px;
    /* padding: 25px; */
}

mat-drawer-content
{
    padding: 30px;
}

mat-paginator
{
    background-color: rgba(43, 153, 226, 0.404);
    border-radius: 8px;
}

.example-container
{
    height: 100%;
}