<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer-content>
            <app-place-date></app-place-date>
            <app-car-list></app-car-list>
    <!--       <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              
              >
              
            </mat-paginator> -->
           </mat-drawer-content>
</mat-drawer-container>


<!-- <div class="container">
    <div class="row">
        <div class="col-md-2">
            <br>
            <br>
            <br>
            <br>
        </div>
        <div class="col-md-10">
            <br>
            <br>
            <br>
            <br>
                <app-place-date></app-place-date>
            <div class="row">
                <div class="col-lg-4">
                    <app-car></app-car>
                </div>
                <div class="col-lg-4">
                    <app-car></app-car>
                </div>
                <div class="col-lg-4">
                    <app-car></app-car>
                </div>
            </div>
        </div>
    </div>
</div> -->
