<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(https://www.couverturefb.com/upload/2013/10/05/20131005010530-ef9ee52f.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <h1 class="display-2 text-white">Welcome to your profile</h1>
          <a routerLinkActive="active" routerLink="/profile/settings" class="btn btn-info">Edit profile</a>
        </div>
      </div>
    </div>
  </div>