




<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <img src="assets/img/about1.jpg">
       

    </div>
    <div class="col-md-6 col-md-offset-3" style="padding: 20px;">
        <br><br><br>  <br><br>
     
        <h1  style="margin-bottom: 18px; ">Welcome to <span style="color: #c6000d;"> Car Rental</span></h1>
        <p style='color:black'>Our fleet is consisted of a variety of car groups, serving all requirements and needs. Our personnel are very well trained, always willing to go the extra mile in order to help our customers to feel like home! We pay great attention to our after sales service, by investing on our customer care department and the so called “repeaters”. Our vision is to become one of the world leaders in the rent a car industry and we are fighting towards this mission with honesty, consciousness, professionalism and very hard work.</p>

    </div>
</div>


<div class="row">
    <div class="col-md-6 col-md-offset-3" style="padding: 20px;">
      <br><br><br> <br><br><br> <br><br><br>
        <h1 style="margin-bottom: 18px; ">A <span style="color: #c6000d;">FAST GROWING</span> CAR NETWORK</h1>
        <p style='color:black'>Over the last years, Car Rentals keeps expanding across countries and regions worldwide.</p>
       

    </div>
    <div class="col-md-6 col-md-offset-3">
     
        <img src="assets/img/about2.jpg">

    </div>
</div>


<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <img src="assets/img/about3.jpg">
       

    </div>
    <div class="col-md-6 col-md-offset-3" style="padding: 20px;">
    <br><br><br> <br><br><br> <br><br><br>
    <h1 style="margin-bottom: 18px;">A <span style="color: #c6000d;">UNIQUE</span> SALES POINT</h1>
        <p style='color:black'>Getting the best value – price ratio in the car rental market. Available through online brokers worldwide.</p>

    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3" style="padding: 20px;">
      <br><br><br> <br><br><br> <br><br><br>
      <h1 style="margin-bottom: 18px; ">AN ONGOING <span style="color: #c6000d;">GROWTH PATH</span></h1>
        <p style='color:black'> Car Rentals consistently follows its investment plan, improving service quality standards while preserving healthy financials.</p>
       

    </div>
    <div class="col-md-6 col-md-offset-3">
     
        <img src="assets/img/about2.jpg">

    </div>
</div>




<br><br>
<div id="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h4>Contact Us</h4>
                    <div class="line-dec"></div>
                    <p>We are here to help and answer any question you might have. We look forward to hearing form you </p>
                    <div class="pop-button">
                        <h4 (click)='login()'>Send us a message</h4>
                    </div>
                </div>
            </div>
        </div>
        
       
    </div>
</div>

<app-footer></app-footer>